body{
    background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=qNWEvKqZ&id=E3E982D22DBD0DA68A0AB690B73E2329B2E53026&thid=OIP.qNWEvKqZKIaL9NTmVxD1IQHaFj&mediaurl=https%3a%2f%2fwallpapercave.com%2fwp%2fwp7102437.jpg&exph=1200&expw=1600&q=Shree+Raam&simid=607986603272373744&FORM=IRPRST&ck=8D09CCBCD6E04EBE114840D3ABA1A725&selectedIndex=3&itb=0);
}
h1{color: blueviolet;}
h1{background-color: blue;}
body{
    background-color: whitesmoke;
}
p{background-color:bisque;}

h3{background-color: bisque;}